.viewprofile
{
  background-color: coral;
  border: 3px brown solid;
  border-radius: 20px;
  text-align: center;
 
}
.tablehead
{
  color:red;
  font-size: 20px;
  font-weight: bolder;
}
.tablebody
{
  color:purple;
  font-size: 15px;
  font-weight: bold;
}